.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

@-webkit-keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  background-color: #f8f8f8;
}

h1, h3, h4 {
  margin: 0;
  font-family: "Fraunces", serif;
}

h1 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
}
@media (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
  }
}

h3 {
  color: #23303e;
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

p {
  color: #a7abae;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.9;
}

li {
  list-style-type: none;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pequal {
  padding: 2rem;
}
@media (min-width: 40em) {
  .container--pequal {
    padding: 5rem;
  }
}
@media (min-width: 64em) {
  .container--pequal {
    padding: 9rem;
  }
}
.container--poffer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 64em) {
  .container--poffer {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 63.9375em) {
  #hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

a.btn.btn--white {
  color: black;
  padding: 1rem 2.75rem;
}
a.btn.btn--white:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

a.btn.btn--yellow {
  color: black;
  padding: 1rem 2.75rem;
}

.btn {
  font-family: "Fraunces", serif;
  border-radius: 10rem;
  border: none;
}
.btn--white {
  background-color: white;
}
.btn--yellow {
  background-color: #fad400;
}

.scroll {
  background-color: rgba(69, 140, 126, 0.8);
  transition: all 300ms ease-in-out;
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 64em) {
  .header nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 3rem);
  margin-top: 1.5rem;
  padding: 1.625rem;
  background: white;
  transition: all 300ms ease-in-out;
}
.header__menu a {
  display: block;
  padding: 1.125rem;
  color: #818498;
  text-decoration: none;
}
.header__menu ::before {
  content: "";
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #ffffff transparent;
}
.header__links {
  display: flex;
  align-items: center;
}
.header__links li:not(:last-child) a:hover::after {
  width: 100%;
  opacity: 1;
}
.header__links a {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 50px;
}
.header__links a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: white;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media (min-width: 64em) {
  .hero {
    background-image: url("../../../assets/images/desktop/image-header.jpg");
  }
}
.hero img {
  margin-top: 3.75rem;
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media (min-width: 40em) {
  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "story1 pic1" "pic2 story2" "graph photo";
  }
}
.service__content {
  text-align: center;
  background-color: #FFFBF8;
}
@media (min-width: 40em) {
  .service__content {
    text-align: left;
  }
}
@media (min-width: 40em) {
  .service__content-first {
    grid-area: story1;
  }
}
@media (min-width: 40em) {
  .service__content-secound {
    grid-area: story2;
  }
}
.service__image img {
  height: 310px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 40em) {
  .service__image img {
    height: auto;
  }
}
@media (min-width: 40em) {
  .service__image-first {
    grid-area: pic1;
    justify-items: center;
    align-items: center;
    background-color: #FFD000;
  }
}
@media (min-width: 40em) {
  .service__image-secound {
    grid-area: pic2;
    justify-items: center;
    align-items: center;
    background-color: #FF7D6D;
  }
}
.service__link {
  position: relative;
  font-size: 0.875rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #23303e;
}
.service__link--yellow::after {
  content: " ";
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(250, 212, 0, 0.6);
  box-shadow: 0 0 5px 4px rgba(250, 212, 0, 0.6);
  transition: all 300ms ease-in-out;
}
.service__link--yellow:hover::after {
  background-color: #fad400;
  box-shadow: 0 0 2px 3px #fad400;
}
.service__link--red::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(254, 120, 103, 0.6);
  box-shadow: 0 0 5px 4px rgba(254, 120, 103, 0.6);
  transition: all 300ms ease-in-out;
}
.service__link--red:hover::after {
  background-color: #fe7867;
  box-shadow: 0 0 2px 3px #fe7867;
}
.service__offer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 595px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.service__offer p {
  font-size: 0.875rem;
}
@media (min-width: 64em) {
  .service__offer p {
    font-size: 1.125rem;
  }
}
@media (min-width: 40em) {
  .service__offer {
    height: 100%;
    transition: transform 300ms ease-in-out;
  }
  .service__offer:hover {
    transform: scale(1.01) rotate(0.01deg);
  }
}
.service__offer-graph {
  background-image: url("../../../assets/images/mobile/image-graphic-design.jpg");
}
.service__offer-graph h4, .service__offer-graph p {
  color: #25564b;
}
@media (min-width: 40em) {
  .service__offer-graph {
    grid-area: graph;
    background-image: url("../../../assets/images/desktop/image-graphic-design.jpg");
  }
}
.service__offer-photo {
  background-image: url("../../../assets/images/mobile/image-photography.jpg");
}
.service__offer-photo h4, .service__offer-photo p {
  color: #19536b;
}
@media (min-width: 40em) {
  .service__offer-photo {
    grid-area: photo;
    background-image: url("../../../assets/images/desktop/image-photography.jpg");
  }
}

.client {
  background-color: #FFFBF8;
}
.client h4 {
  font-size: 0.875rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #a7abae;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 4rem;
}
@media (min-width: 40em) {
  .client__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.client__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 2 330px;
  text-align: center;
}
.client__item:not(:last-child) {
  margin-bottom: 4rem;
}
@media (min-width: 64em) {
  .client__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.client__item img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}
.client__item-copy {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  color: #5a636c;
}
.client__item-name {
  margin: 0;
  font-family: "Fraunces";
  font-size: 1.25rem;
  color: #23303e;
}
.client__item-postion {
  margin: 0;
  font-size: 0.875rem;
}

.picture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}
@media (min-width: 40em) {
  .picture {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
.picture img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.footer {
  background-color: #458c7e;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  width: 50%;
  padding-bottom: 3rem;
}
@media (min-width: 40em) {
  .footer img {
    width: 20%;
  }
}
.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  padding-bottom: 5rem;
}
@media (min-width: 40em) {
  .footer__links {
    width: 30%;
  }
}
.footer__links-item {
  list-style-type: none;
}
.footer__links-item a {
  color: #25564b;
  text-decoration: none;
}
.footer__links-item a:hover {
  color: white;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.footer__social a .icon path:hover {
  fill: #fff;
}
@media (min-width: 40em) {
  .footer__social {
    width: 15%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=main.css.map */
