// Mobile Menu fades
.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

//Arrow Bouncing 
@-webkit-keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    60%  {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
    }
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    60%  {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
    }
}