.client {
    background-color: $beige;

    h4 {
        font: {
            size: $font-sm;
            family: 'Fraunces', serif;
            weight: 900;
        }
        color: $typo-content;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6px;

        margin-bottom: 4rem; 
    }

    &__wrapper {
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 2 330px;
        
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        @include breakpoint-up(large) {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        img {
            width: 25%;

            border-radius: 50%;

            margin-bottom: 2.5rem;
        }

        &-copy {
            margin: 0;
            margin-bottom: 1.5rem;

            font-size: $font-med;
            color: $typo-client;
        }

        &-name {
            margin: 0;

            font: {
                family: 'Fraunces';
                size: $font-lg;
            }
            color: $typo-primary;
        }

        &-postion {
              margin: 0;

              font-size: $font-sm;
        }
    }
}