html {
    font-size: 100%;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {

    margin: 0;
    padding: 0;

    font: {
        family: 'Barlow', sans-serif;
    //font-family: 'Fraunces', serif;
        size: $font-med;
    }

    background-color: #f8f8f8;
}

h1, h3, h4 {
    margin: 0;
    font-family: 'Fraunces', serif;
}

h1 {
    font-size: 3.3rem;
    
    color: $white;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: $typo-primary;

    font-size: 2.3rem;
}

h4 {
    font-size: 1.75rem;
}

p {
    color: $typo-content;
    font-size: $font_sm;
    font-weight: 600;
    line-height: 1.9;
}

li {
    list-style-type: none;
}

//Spacing

.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall {
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
        }
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pb {
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-bottom: 6rem;
        }
    }

    &--pl {
        padding-left: 1.5rem;
    }

    &--pequal {
        padding: 4.375rem;

        @include breakpoint-up(large) {
            padding: 3rem;
        }
    }
    &--poffer {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 1rem;


        @include breakpoint-up(large) {
            padding-left: 7rem;
            padding-right: 7rem;
            padding-bottom: 2rem;
        }
    }
}

//Visability

#hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
    
}

//Button 
a.btn.btn--white {
    color: black;
    padding: 1rem 2.75rem;

    &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.4);
        color: $white;  
    }
}

a.btn.btn--yellow {
    color: black;
    padding: 1rem 2.75rem;
}
.btn {

    font-family: 'Fraunces', serif;
    
    border-radius: 10rem;
    border: none;

    &--white {
        background-color: $white;

        
    }

    &--yellow {
        background-color: $yellow;
    }
}

//Background for scroll nav

.scroll {
    background-color: rgba($color: $bg-footer, $alpha: 0.8);
    transition: all 300ms ease-in-out;
}