.service {

    @include breakpoint-up('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        grid-template-areas: 
                            "story1 pic1"
                            "pic2 story2"
                            "graph photo";
    }

    &__content {
        text-align: center;
        background-color: $white;

        @include breakpoint-up(medium) {
            text-align: left;
        }

        &-first {
            @include breakpoint-up('medium') {
                grid-area: story1;
            }
        }

        &-secound {
            @include breakpoint-up('medium') {
                grid-area: story2;
            }
        }
    }
    
    &__image {

        img {
            height: 310px;
            width: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint-up('medium') {
                height: auto;
            }
        } 
        
        &-first {
            @include breakpoint-up('medium') {
                grid-area: pic1;
                justify-items: center;
                align-items: center;
                background-color: #FFD000;
            }
        }

        &-secound {
            @include breakpoint-up('medium') {
                grid-area: pic2;
                justify-items: center;
                align-items: center;

                background-color: #FF7D6D;
            }
        }
    }

    &__link {
        position: relative;

        font-family: 'Fraunces', serif;
        text-decoration: none;
        
        color: $typo-primary;

        &--yellow {
            &::after {
                content: " ";
                display: block;
                position: absolute;
                top: 20px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: rgba($color: $btn-secondary, $alpha: 0.6);
                box-shadow: 0 0 5px 4px rgba($color: $btn-secondary, $alpha: 0.6);
                transition: all 300ms ease-in-out;
            }
            &:hover::after {
                background-color: rgba($color: $btn-secondary, $alpha: 1.0);
                box-shadow: 0 0 2px 3px rgba($color: $btn-secondary, $alpha: 1.0);
            }
        }
        &--red {
            &::after {
                content: " ";
                display: block;
                position: absolute;
                top: 20px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: rgba($color: $btn-primary, $alpha: 0.6);
                box-shadow: 0 0 5px 4px rgba($color: $btn-primary, $alpha: 0.6);
                transition: all 300ms ease-in-out;
            }

            &:hover::after {
                background-color: rgba($color: $btn-primary, $alpha: 1.0);
                box-shadow: 0 0 2px 3px rgba($color: $btn-primary, $alpha: 1.0);

            }
        }
    }

    &__offer {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        width: 100%;
        height: 595px;

        text-align: center;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include breakpoint-up(medium) {
            height: 100%;
            
            transition: transform 300ms ease-in-out;

            &:hover {
                transform: scale(1.01) rotate(0.01deg);
            }
        }


        &-graph {

            background-image: url('../../../assets/images/mobile/image-graphic-design.jpg');
            
            h4, p {
                color: $typo-graphic;
            }

            @include breakpoint-up(medium) {
                grid-area: graph;
                
                background-image: url('../../../assets/images/desktop/image-graphic-design.jpg');
            }
        }

        &-photo {
            background-image: url('../../../assets/images/mobile/image-photography.jpg');
            
            h4, p {
                color: $typo-photo;
            }

            @include breakpoint-up(medium) {
                grid-area: photo;
                
                background-image: url('../../../assets/images/desktop/image-photography.jpg');
            }
        }
    }


}